# Python
__pycache__/
*.pyc
*.pyo

# PyInstaller 构建产物
build*/
dist*/
spec*/
*.spec

# 运行时日志与临时文件
*.log
_*.txt
app_debug.log
*.exe
patch_release.py
release_*.py
app/ui.html

# 虚拟环境
.venv/
envs/

# 系统文件
Thumbs.db
Desktop.ini
